{% if not args %}
    {% set args = {
        title: 'Blog Template',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        image: {
            src: "/images/background.jpg",
            alt: 'image',
        },
        content: '<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis purus, vel eget et. Elementum velit amet, mattis ultrices consequat. At sodales risus viverra aliquet nunc proin nulla. Mauris pellentesque commodo, pellentesque proin. Neque, facilisis sit porttitor fringilla phasellus. Odio vel suspendisse purus vitae. Enim donec posuere sed elementum. Ac porta nam faucibus dapibus. Eu diam sit magna duis purus fermentum. Volutpat volutpat sem placerat lectus faucibus netus commodo. Turpis gravida leo senectus scelerisque.</p>
        <p>Tristique turpis ac posuere scelerisque eleifend diam a, nunc morbi. Dui faucibus facilisi eleifend id nascetur pellentesque facilisis dignissim vitae. Non egestas massa elit eget sit odio. Commodo sit molestie adipiscing amet lectus nisi. Ullamcorper dignissim est, imperdiet laoreet ut libero urna. Iaculis vulputate purus imperdiet odio sem. Vestibulum scelerisque pellentesque viverra enim. Nunc, vestibulum suspendisse sit nulla vitae euismod pretium. Ut integer mauris arcu accumsan, quis tincidunt fames vel</p>
        <p>Nisi gravida eleifend sed varius sed. Id sollicitudin mollis vestibulum viverra dui. Faucibus in etiam id nisl aenean rutrum consectetur turpis. Porta ullamcorper aenean urna, ornare dignissim donec accumsan. Sed at rhoncus scelerisque pellentesque pellentesque morbi facilisi diam cursus. Dui sit quis auctor sagittis, sodales.</p>
        <p>Donec mauris, id odio dolor, volutpat. Mattis hendrerit scelerisque facilisis egestas metus viverra nunc. Facilisis congue sollicitudin duis et. In et amet vitae adipiscing ut malesuada et pellentesque ornare. Odio nisi, velit non malesuada. Lorem auctor magna cras convallis pellentesque. Semper arcu consequat, vel euismod enim nulla mauris.</p>
        <p>Platea facilisi purus, lectus at ut facilisis pharetra faucibus. Tellus a egestas elementum vitae magna amet metus, lectus ullamcorper. Suspendisse interdum ac nisi dignissim massa tempus id quisque faucibus. Nullam justo est accumsan cum. Faucibus in tristique blandit aliquam, sed egestas. </p>
        <img src="/images/image_wysiwyg.jpg">',
    } %}
{% endif %}

<section class="s-article">
    <div class="s-article__container">
        {% if args.title %}
            <h2 class="s-article__title el-title-1">
                {{ args.title }}
            </h2>
        {% endif %}
        {% if args.description %}
            <div class="s-article__description el-title-2">
                {{ args.description }}
            </div>
        {% endif %}
        {% if args.image %}
            <div class="s-article__media">
                 <img src="{{ args.image.src }}" alt="{{ args.image.alt }}">
            </div>
        {% endif %}
    </div>
    {% if args.content %}
        <div class="s-article__content el-wysiwyg">
            {{ args.content }}
        </div>
    {% endif %}

</section>