{% if not args %}
    {% set args = {
        title: 'Contacts',

        list: [
            {
          link: {
                url: '#',
              text: '286  Dark Hollow Road, London, UK',
            },
          image: {
              src: '/images/map.svg',
              alt: 'photo',
            },
        },
            {
                link: {
                url: '#',
                text: 'info@lorepsium.com',
            },
                image: {
                src: '/images/letter-icon.svg',
                alt: 'photo',
            },
            },
            {
                link: {
                url: '#',
                text: '+395-76-0651',
            },

                image: {
                src: '/images/phone.svg',
                alt: 'photo',
            },
            },
        ],
        map: {
          src:'<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5297.484718044528!2d35.0435772!3d48.4038907!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1629885688941!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>',
        },
        headline: 'Send Us a Message',
        name_label: 'Your name',
        email_label: 'Your email',
        textarea: 'Text field',
        button: 'Send Message',

    } %}
{% endif %}

<section class="s-contact">
    <div class="s-contact__container">
        {% if args.title %}
            <h2 class="s-contact__title el-title-2">
                {{ args.title }}
            </h2>
        {% endif %}
        <div class="s-contact__wrapper">
            <div class="s-contact__coordinates">
                <ul class="s-contact__list">
                    {% for items in args.list %}
                        <li class="s-contact__item">
                             <span>
                                        <img alt="{{  items.image.alt }}" src="{{ items.image.src }}">
                                    </span>
                            {% if items.link %}
                                <a href="{{ items.link.url }}" class="s-contact__link">
                                    {{ items.link.text }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if args.map %}
            <div class="s-contact__locations">
                {{ args.map.src }}
            </div>
            {% endif %}
        </div>
        <div class="s-contact__wrap">
            {% if args.headline %}
            <h2 class="s-contact__headline $fs-title-3">
                {{ args.headline }}
            </h2>
            {% endif %}
                 <form class="s-contact__form">
                    <div class="s-contact__inner">
                        <div class="el-field">
                            <input class="el-field__input" placeholder="{{ args.name_label }}">
                            <span class="el-field__error"></span>
                            <label class="el-field__label">
                            </label>
                        </div>
                        <div class="el-field">
                            <input class="el-field__input" placeholder=" {{ args.email_label }}">
                            <span class="el-field__error"></span>
                            <label class="el-field__label">

                            </label>
                        </div>
                        <div class="el-field s-contact__textarea">
                            <textarea class="el-field__textarea " placeholder=" {{ args.textarea }}"></textarea>
                            <span class="el-field__error"></span>
                            <label class="el-field__label">

                            </label>
                        </div>
                    </div>

                     {% if args.button %}
                         <button class="btn s-contact__button">
                             {{ args.button }}
                         </button>
                     {% endif %}

                </form>
        </div>
    </div>
</section>