<div class="s-example" id="mock-data-example">
    <div class="s-example__container">

        <h2 class="el-title">{{ args.title }}</h2>

        <article class="s-example__line" >

            <div class="el-wysiwyg"> {{ args.description }}  </div>

            {% if args.link %}
                <a href="{{ args.link.url }}" class="btn mt-5" >
                    {{ args.link.text}}
                </a>
            {% endif %}

        </article>

        <article class="s-example__line" >

            <h2 class="el-subtitle">Here is an another example</h2>

            <p><code class="text-brand">_example_2</code> is an object form <code class="text-brand ">"mocks/example_2.json"</code> </p>

            <div class="el-wysiwyg">
                {{ _example_2.text }}
            </div>
            <a href="{{ _example_2.link.url }}">{{ _example_2.link.text }}</a>

        </article>

    </div>
</div>
