<section class="s-hero">
    <div class="s-hero__container">
        <div class="s-hero__wrapper">
            {% if args.title %}
                <h1 class="s-hero__title el-title">
                    {{ args.title }}
                </h1>
            {% endif %}
            {% if args.description %}
                <div class="s-hero__description">
                    {{ args.description }}
                </div>
            {% endif %}
            {% if args.buttons %}
                <div class="s-hero__links">
                    {% for item in args.buttons %}
                            {% if item.text and item.url %}
                                <a href="{{ item.url }}" class="s-hero__link btn  {{ item.is_alternative ? 'btn--alternative' }}">
                                    {{ item.text }}
                                </a>
                            {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if args.background %}
                <div class="s-hero__media">
                    <picture>
                        <source srcset="{{ args.background.mobile.src }}" media="(max-width: 480px)">
                        <source srcset="{{ args.background.tablet.src }}" media="(max-width: 1024px)">
                        <source srcset="{{ args.background.desktop.src }}" media="(max-width: 1600px)">
                        <img class="s-hero__img" src="{{ args.background.desktop.src }}" alt="{{ args.background.alt }}">
                    </picture>
                </div>
            {% endif %}
        </div>
    </div>
</section>
