{#
"header": {
   "is_main_menu_hidden": false,
   "is_submenu_showed_for_this_page": false,
   "is_header_dark": true,
   "main_menu": [
     {
       "url" : "#",
       "classes" : "",
       "title" : "Support",
       "is_active": true|false,
       "subitems": [
         {
           "url" : "#",
           "is_active": true|false,
           "classes" : "",
           "title" : "Support"
         }
       ]
     }
   ],
   "menu_extra": [
     {
      "url" : "#",
       "classes" : "",
       "title" : "Support",
       "is_active": true|false,
       "subitems": [
         {
           "url" : "#",
           "is_active": true|false,
           "classes" : "",
           "title" : "Support"
         }
       ]
     }
   ],
   "site_logo": {
     "url": "images/logo-black.svg",
     "alt": ""
   },
}
#}

{# code only for gulp build #}
{% if isGulpTwig %}
    {% set header_json %}
        {% include 'test-data/header.json' %}
    {% endset %}
    {% set header = header_json | json_decode %}
{% endif %}

{% set main_menu = header.main_menu  %}


<header class="header js-header {{ header_modifier }}">
    <div class="header-main" data-main-bar >
        <div class="header-main__container">
            <div class="header-main__bar">
                <div class="header-main__logo">
                    <a href="/" class="header-main__logo-link">
                        {% if header.site_logo.url %}
                            <img src="{{ header.site_logo.url }}"
                                 alt="{{ header.site_logo.alt }}"
                                 class="header-main__logo-image">
                        {% else %}
                            {% include 'elements/icon.twig' with { name : 'ic-logo', not_element : true , modifier: 'header-main__logo-image' } %}
                        {% endif %}
                    </a>
                </div>
                <button type="button" class="header-main__toggle" data-main-toggle>
                    <span class="header-main__text">{{ header.menu_text.text }}</span>
                    {% include 'elements/icon.twig' with { name : 'ic-open', modifier: 'header-main__toggle-open' } %}
                    {% include 'elements/icon.twig' with { name : 'ic-close',  modifier: 'header-main__toggle-close' } %}
                </button>
            </div>
            <nav class="header-nav" role="navigation" data-main-nav>
                <ul class="header-nav__list header-nav__list--main">
                    {% for menu_item in main_menu %}
                        {% set hasSubItems = menu_item.submenus ? true : false %}
                        {% set item_classes %}{{ hasSubItems ? 'header-nav__link--parent' : ( menu_item.is_active ? 'is-active' ) }}{% endset %}

                        <li class="header-nav__item" >
                            <a class="header-nav__link {{ item_classes }}"
                               href="{{ menu_item.url }}">
                                {{ menu_item.title }}
                            </a>
                            {% if hasSubItems %}
                                {#<button type="button" data-subitem-toggle class="header-nav__toggle">#}
                                {#<span class="visually-hidden">open submenu</span>#}
                                {#</button>#}
                                <ul class="header-nav__submenu" data-subitem-list>
{#                                    <li class="header-nav__submenu-item header-nav__submenu-item--parent">#}
{#                                        <a class="header-nav__submenu-link {{ menu_item.is_active ? 'is-active' }}" href="{{ menu_item.url }}">#}
{#                                        </a>#}
{#                                    </li>#}
                                    {% for sub_item in menu_item.submenus %}
                                        <li class="header-nav__submenu-item">
                                            <a href="{{ sub_item.url }}" class="header-nav__submenu-link {{ sub_item.is_active ? ' is-active'}}">{{ sub_item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% if header.menu_extra | length > 0 %}
                <ul class="header-nav__list header-nav__list--extra" >
                    {% for menu_item in header.menu_extra %}
                        <li class="header-nav__item" >
                            <a class="header-nav__link {{ menu_item.classes }}"
                               href="{{ menu_item.url }}">
                                {{ menu_item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</header>