<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="description" content="{{ site.description }}">

    <link rel="preload" href="../../fonts/Lato-Black.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../../fonts/Lato-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../../fonts/Lato-Semibold.woff2" as="font" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    {% block styles %}
        {# preload example:
                styles:
            <link rel="preload" href="{{ frontend_public_url }}/styles/style.css{{ stylesFileUrl }}" as="style">

                fonts:
            <link rel="preload" href="{{ frontend_public_url }}/fonts/Berthold-akzidenz-grotesk-be-light.woff" as="font" crossorigin="anonymous">

                javascript
            <link rel="preload" href="{{ frontend_public_url }}/js/scripts.js" as="script">
        #}

        <link rel="stylesheet" type="text/css" href="{{ frontend_public_url }}/styles/style.css">

    {% endblock %}

</head>

<body class="{{ body_class }} {{ template_class is defined ? template_class }}">

{% block template %}

    {% include 'areas/header.twig' %}

    <main class="{{ main_class }}">

    {{ content is defined ? content }}

    </main>

    {% include 'areas/footer.twig' %}

{% endblock %}



{% block scripts %}
    <script src="{{ frontend_public_url }}/js/scripts.js"></script>
{% endblock %}

</body>
</html>